In [32]:
import pandas as pd

In [33]:
file1 = pd.read_csv('../data/car/2021년도기준 교통사고 현황.csv', encoding='cp949', header=1)
file1

          구분    유형    2017년    2018년    2019년    2020년    2021년
0       전체사고  사고건수  216,335  217,148  229,600  209,654  203,130
1        NaN   사망자    4,185    3,781    3,349    3,081    2,916
2        NaN   부상자  322,829  323,037  341,712  306,194  291,608
3       사망사고  사고건수    4,065    3,657    3,233    2,983    2,816
4        NaN   사망자    4,185    3,781    3,349    3,081    2,916
5        NaN   부상자    2,205    1,915    1,772    1,561    1,325
6      어린이사고  사고건수   10,960   10,009   11,054    8,400    8,889
7        NaN   사망자       54       34       28       24       23
8        NaN   부상자   13,433   12,543   14,115   10,500   10,978
9       노인사고  사고건수   37,555   38,647   40,645   35,312   34,907
10       NaN   사망자    1,767    1,682    1,523    1,342    1,295
11       NaN   부상자   40,579   41,833   44,390   38,147   37,894
12     보행자사고  사고건수   47,377   45,921   46,682   36,601   35,665
13       NaN   사망자    1,675    1,487    1,302    1,093    1,018
14       NaN   부상자   47,707   46,400   47,200   36,939   36,001
15     자전거사고  사고건수    5,659    4,771    5,633    5,667    5,509
16       NaN   사망자      126       91       79       83       70
17       NaN   부상자    5,932    5,041    6,020    6,150    5,999
18     이륜차사고  사고건수   13,730   15,032   18,467   18,280   18,375
19       NaN   사망자      406      410      422      439      397
20       NaN   부상자   16,720   18,621   23,584   23,673   23,846
21  사업용자동차사고  사고건수   44,784   45,122   47,179   40,108   37,801
22       NaN   사망자      821      748      633      575      569
23       NaN   부상자   70,019   69,583   72,906   59,956   55,573
24    음주운전사고  사고건수   19,517   19,381   15,708   17,247   14,894
25       NaN   사망자      439      346      295      287      206
26       NaN   부상자   33,364   32,952   25,961   28,063   23,653

In [34]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
total = file1[0:3]
total

     구분    유형    2017년    2018년    2019년    2020년    2021년
0  전체사고  사고건수  216,335  217,148  229,600  209,654  203,130
1   NaN   사망자    4,185    3,781    3,349    3,081    2,916
2   NaN   부상자  322,829  323,037  341,712  306,194  291,608

In [36]:
total1 = total.iloc[:, 1:]
total1

     유형    2017년    2018년    2019년    2020년    2021년
0  사고건수  216,335  217,148  229,600  209,654  203,130
1   사망자    4,185    3,781    3,349    3,081    2,916
2   부상자  322,829  323,037  341,712  306,194  291,608

In [37]:
total1.set_index('유형', inplace=True)
total1

        2017년    2018년    2019년    2020년    2021년
유형
사고건수  216,335  217,148  229,600  209,654  203,130
사망자     4,185    3,781    3,349    3,081    2,916
부상자   322,829  323,037  341,712  306,194  291,608

In [8]:
### 그래프 한글 깨질때
import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib import font_manager, rc
# - 기호 깨지는것 방지
plt.rcParams['axes.unicode_minus'] = False

f_path = "C:/Windows/Fonts/malgun.ttf"

font_name = font_manager.FontProperties(fname = f_path).get_name()
rc('font', family=font_name)

In [21]:
df = total1.transpose()
df

             0      1        2
유형        사고건수    사망자      부상자
2017년  216,335  4,185  322,829
2018년  217,148  3,781  323,037
2019년  229,600  3,349  341,712
2020년  209,654  3,081  306,194
2021년  203,130  2,916  291,608

In [39]:
df.plot(x="유형", y=["사고건수", "사망자", "부상자"], kind="bar",figsize=(9,8))
plt.show()

KeyError: '유형'